/**********************************************************************************************************************
 * Program............:Dictionary API
 * Programmers........: Ben Stearns
 * Date...............: 4-24-26
 * GitHub Repo........: https://github.com/bstearns07/DictionaryAPI
 * Program Summary....: a JavaScript web application that uses a node express server to serve an application that
 *                      looks up the dictionary information of a word entered by the user. The server utilizes the
 *                      Free Dictionary API to retrieve the dictionary information.
 * File Description...: tells tailwind where to get what it needs + additional CSS information
 **********************************************************************************************************************/

@import "tailwindcss";

@layer base {
    body {
        @apply bg-gray-100 text-gray-800 font-sans p-6
    }

    h1 {
        @apply text-4xl sm:text-5xl font-extrabold tracking-tight
        bg-linear-to-r from-cyan-500 to-blue-600
        bg-clip-text text-transparent text-center leading-tight pb-1 mb-1;
    }

    label {
        @apply font-medium mr-2;
    }

    input {
        @apply border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500;
    }

    button{
        @apply bg-blue-600 text-white px-4 py-2 rounded transition-transform duration-200 ease-out hover:scale-105
        hover:bg-blue-700 active:bg-blue-800 cursor-pointer;
    }

    table {
        @apply w-full border-collapse bg-white rounded-xl shadow overflow-hidden
        transition-all duration-300 ease-in-out
        hover:shadow-xl
        focus:outline-none focus:ring-2 focus:ring-blue-500;
    }

    tbody tr {
        @apply hover:bg-blue-50 transition-colors duration-200 ease-in-out;
    }

    tbody tr td {
        @apply transition-transform duration-200;
    }

    tbody tr:hover td {
        @apply scale-105;
    }

    th {
        @apply bg-gray-200 border-b px-4 py-2 font-semibold text-center;
    }

    td {
        @apply px-4 py-2 border-b transition;
    }
}

@layer components {
    .row {
        @apply max-w-3xl mx-auto mb-6 flex items-center gap-3;
    }

    #response-error {
        @apply text-red-600 font-medium max-w-3xl mx-auto;
    }

    #error {
        @apply text-red-500 text-sm ml-2;
    }

    #studentTable {
        @apply text-sm;
    }

    #lookup {
        @apply mx-auto block;
    }

    #word-header,
    #origin-header {
        @apply text-lg font-bold bg-blue-100;
    }

    .audio-btn {
        @apply ml-2 inline-flex items-center justify-center
        bg-blue-500 hover:bg-blue-600 text-white
        w-7 h-7 rounded-full text-sm
        transition-all duration-150 ease-in-out
        hover:scale-110 active:scale-95;
    }
}